<div class="jumbotron">

  <h1 class="display-4">
    <%= @task.completed ? fa_icon("check-circle") : fa_icon("times-circle") %>
    <%= @task.title %>
  </h1>

  <p class="lead"><%= @task.details %></p>

  <div class="task d-flex align-items-center px-3 my-2">

      <div class="btn btn-primary">
        <%= link_to 'Back to list', tasks_path, class: 'btn btn-primary' %>
      </div>

      <div class="flex-grow-1"></div>

      <div class="icon">
        <%= link_to edit_task_path(@task) do %>
          <%= fa_icon "edit" %>
        <% end %>
      </div>
      
      <div class="icon">
        <%= link_to task_path(@task), method: :delete, data: {confirm: "Are you sure?"} do %>
          <%= fa_icon "trash" %>
        <% end %>
      </div>

  </div>

</div>
